@layer m3e.tokens, m3e.base, m3e.components, m3e.utilities;

@import '../components/Button/Button.css';
@import '../components/Card/Card.css';
@import '../components/Checkbox/Checkbox.css';
@import '../components/FloatingActionButton/FloatingActionButton.css';
@import '../components/Icon/Icon.css';
@import '../components/IconButton/IconButton.css';
@import '../components/Radio/Radio.css';
@import '../components/Surface/Surface.css';
@import '../components/Switch/Switch.css';
@import '../components/Text/Text.css';
@import '../components/TextArea/TextArea.css';
@import '../components/TextField/TextField.css';

@layer m3e.base {
  :root,
  [data-m3e-color-mode="system"] {
    color-scheme: light dark;
  }

  [data-m3e-color-mode="light"] {
    color-scheme: light;
  }

  [data-m3e-color-mode="dark"] {
    color-scheme: dark;
  }
}
